{% extends 'base.html.twig' %}

{% block title %}Pokecards - Collect'em all
{% endblock %}

{% block body %}
	<div id='reducedDiv'>

		<div id='search' class="w-100 bg-white">bbbbbbbbb</div>

		<div id='cardex' class=" w-100 d-flex flex-row flex-wrap justify-content-center align-items-center">
			{% for card in cards %}
				<div class="">
					<a href="{{ path('app_show', {id : card.id}) }}" id='{{card.id}}'><img class="mx-3 my-4" src="{{card.images.small}}" alt="card image"></a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
