{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div id='reducedDiv'>
		<div id='edit' class="bg-white rounded-4 m-2">
			<div class="d-flex flex-column justify-content-center align-items-center text-center pb-4 p-4">
				<h2>Edit Profil</h2>
				{% include "user/_form.html.twig" %}

			</div>
		</div>
		{% if(is_granted('ROLE_ADMIN')) %}
			<div class='text-center mt-4'>
				<a href="{{ path('app_user_index') }}">Back to list</a>
				{{ include('user/_delete_form.html.twig') }}
			</div>
		{% endif %}
	</div>

{% endblock %}
